html,
body {
  background-color: #b0e6d1;
  font-family: 'Quicksand', sans-serif;
}

.contacts {
  line-height: 100px;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  color: black;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  text-align: center;
  margin: 50px 50px 100px 75px;
  background-color: #c85c4f;
}

.noDecoration, a:link, a:visited {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .contacts {
    margin: 50px 75px 100px 75px;
  }
}