html,
body {
  background-color: #e0e6b0;
  font-family: 'Quicksand', sans-serif;
}

#reponav {
  margin-left: 35px;
  font-size: 18px;
}

@media only screen and (max-width: 770px) {
  #reponav {
    margin: 50px 75px 100px 75px;
  }
}
