html,
body {
  background-image: url(assets/images/beige-tiles.png);
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.nav-link{
  color: #777777;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  padding-top: 20px;
}

h2{
  color: #4aaaa5;
}

h3{
  text-align: center;
  height: 50px;
  width: 200px;
  background-color: #4aaaa5;
  padding-top: 8px;
  margin-top: 6px;
}

.about-text{
  color:#777777;
}

#about {
  margin-top: 18px;
}

#about-head{
  border-bottom: 3px solid #4aaaa5;
  height: 70px;
  padding-top: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

#about-body {
  margin-top: 18px;
}

button{
  margin-bottom: 10px;
}

#proj-1{
  padding: 20px 0;
  background-image: url('./assets/images/portfoliopic.PNG');
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 22px;
  margin-top: 16px;
  height: 120px;
}

#proj-2{
  padding: 20px 0;
  background-image:url('https://i.pinimg.com/564x/d8/df/4e/d8df4e2efb27866e3204ca194b5cd9ad.jpg');
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 22px;
  margin-top: 16px;
  height: 120px;
}

#proj-3{
  padding: 20px 0;
  background-image: url('http://www.wallpapers13.com/wp-content/uploads/2016/05/Virginia-Falls-a-small-mountain-river-bed-karpessto-tree-nature-in-high-resolution.jpg');
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 22px;
  margin-top: 16px;
  height: 120px;
}

#proj-4{
  padding: 20px 0;
  background-image: url('https://res.cloudinary.com/demo/image/upload/w_250,h_250,c_mpad/w_700/sample.jpg');
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 22px;
  margin-top: 16px;
  height: 120px;
}

#proj-5{
  padding: 20px 0;
  background-image: url('https://cdn.wallpapersafari.com/25/48/VHEyOR.jpg'); 
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 18px;
  margin-left: 22px;
  margin-top: 16px;
  height: 120px;
}

.project-labels{
  height: 23px;
  background-color: #4aaaa5;
  width: 100%;
  margin-top: 80px;
  text-align: center;
  color: whitesmoke;
  overflow: hidden;
}

footer{
  position: fixed;
  bottom: 0;
  height: 20px;
  text-align: center;
  font-size: 10px;
  padding-top: 2px;
  background-color: #666666;
  border-top: 3px solid #4aaaa5;
  width: 100%;
}

#proj-1,
#proj-2,
#proj-3,
#proj-4,
#proj-5:hover{
  cursor: pointer;
}