html,
body {
  background-color: #b0e0e6;
  font-family: 'Quicksand', sans-serif;
}

#nav-bar {
  background-color: #76c9d4;
  font-size: 20px;
  font-weight: bold;
}
.nav-link{
  color: black;
  padding-top: 20px;
}

h2{
  color: #4aaaa5;
}

h3{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  height: 50px;
  margin-top: 10px;
}

#my-name {
  text-align: left;
}

.about-text{
  color:#777777;
}

#about {
  margin-top: 18px;
}

#about-head{
  border-bottom: 3px solid #4aaaa5;
  height: 70px;
  padding-top: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

#about-body {
  margin-top: 18px;
}

button{
  margin-bottom: 10px;
}

#proj-1{
  padding: 20px 0;
  background-image: url('./assets/images/hotchicken.PNG');
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 22px;
  margin-top: 16px;
  height: 120px;
  border: 1px solid black;
}

#proj-2{
  padding: 20px 0;
  background-image:url('./assets/images/codequiz.PNG');
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 22px;
  margin-top: 16px;
  height: 120px;
  border: 1px solid black;
}

#proj-3{
  padding: 20px 0;
  background-image: url('./assets/images/weatherdash.PNG');
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 22px;
  margin-top: 16px;
  height: 120px;
  border: 1px solid black;
}

#proj-4{
  padding: 20px 0;
  background-image: url('./assets/images/dayplanner.PNG');
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 22px;
  margin-top: 16px;
  height: 120px;
  border: 1px solid black;
}

#proj-5{
  padding: 20px 0;
  background-image: url('./assets/images/passgen.PNG'); 
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 18px;
  margin-left: 22px;
  margin-top: 16px;
  height: 120px;
  border: 1px solid black;
}

.project-labels{
  height: 23px;
  background-color: #76c9d4;
  width: 100%;
  margin-top: 80px;
  text-align: center;
  color: whitesmoke;
  overflow: hidden;
}

footer{
  position: fixed;
  bottom: 0;
  height: 20px;
  text-align: center;
  font-size: 10px;
  padding-top: 2px;
  background-color: #666666;
  border-top: 3px solid #4aaaa5;
  width: 100%;
}

#proj-1,
#proj-2,
#proj-3,
#proj-4,
#proj-5:hover{
  cursor: pointer;
}